ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
	a:link {color:#ff0000;
	}
	a:visited {color:#ff0000;
	}
	a:active {color:#ff0000;
	}
	a:hover {color:#ed2929;}
	a {text-decoration:none}

	body{
                margin-top:0em;
		color:#ff0000;
                background-color:#000000;
		max-width:60em;
		padding:0 5.62em;
		font:1.2em/1.62 sans-serif;
	}
	h1,h2,h3 {
		line-height:1.2;
	}
	@media print{
		body{
			max-width:none
		}
	}
	#nav {
	/*background-color: #fff;*/
	float: left;

	margin: 0 1px 0 0;
	border-right: 1px solid #10ff00;
	padding: 1em 0;
	width: 170px;
        clear: left;
        height: 600px;
}

p {
        font-size: 15px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 1;
	margin: 1;
}

#nav li ul {
	padding-left: 0.3em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}
